#a {
background-color: #eb4034;
}

#b {
    background-color: #eb9334;
}

#c {
    background-color: #ebeb34;
}

#d {
    background-color: #3deb34;
}

#e {
    background-color: #34ebd0;
}

#f {
    background-color: #3446eb;
}

#g {
    background-color: #9334eb;
}

#h {
    background-color: #eb34d6;
}

#i {
    background-color: #eb4034;
}

@media(min-width: 768px){
    #a {
        background-color: #000000;
        color: white;
        }
    #b {
        background-color: #cecece;
    }
    #c {
        background-color: #ffffff;
    }
    #d {
        background-color: #afafaf;
    }
    #e {
        background-color: #868686;
    }
    #f {
        background-color: #5f5f5f;
    }
    #g {
        background-color: #3f3f3f;
        color: rgb(204, 204, 204);
    }
    #h {
        background-color: #2f2f2f;
        color: rgb(204, 204, 204);
    }
    #i {
        background-color: #000000;
        color: white;
    }
}